default: &default
  adapter: postgresql
  encoding: unicode
  host: <%= ENV.fetch('DATABASE_HOST') { 'localhost' } %>
  username: <%= ENV.fetch('DATABASE_USERNAME') { 'postgres' } %>
  password: <%= ENV.fetch('DATABASE_PASSWORD') { '' } %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>


development:
  <<: *default
  database: login_api_development

test:
  <<: *default
  database: login_api_test

production:
  primary: &primary_production
    <<: *default
    database: login_api_production
    username: login_api
    password: <%= ENV["LOGIN_API_DATABASE_PASSWORD"] %>
  cache:
    <<: *primary_production
    database: login_api_production_cache
    migrations_paths: db/cache_migrate
  queue:
    <<: *primary_production
    database: login_api_production_queue
    migrations_paths: db/queue_migrate
  cable:
    <<: *primary_production
    database: login_api_production_cable
    migrations_paths: db/cable_migrate
